---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 1zj/5cOR6wyFd4QvK+XoTQ==RYisct5ZHKMqUcII
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f06944b5-e233-46dd-93fa-5325af2d0abf
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTE98FUtvHcF1HQ=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 220.3, "aqi": 2}, "NO2": {"concentration":
        3.77, "aqi": 4}, "O3": {"concentration": 70.1, "aqi": 84}, "SO2": {"concentration":
        2.47, "aqi": 3}, "PM2.5": {"concentration": 2.74, "aqi": 8}, "PM10": {"concentration":
        3.69, "aqi": 3}, "overall_aqi": 84}'
  recorded_at: Mon, 07 Aug 2023 16:27:56 GMT
recorded_with: VCR 6.2.0
